#menu {
  width: max-content;
}

.nav-menu {
  display: flex;
  padding: 50px 20px;
  border-radius: 20px;
  width: auto;
  height: 100%;
  background: rgb(0, 82, 162);
}

.nav-menu-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 95px;
}

.nav-menu-item.logout {
  margin-top: calc(130.06px - 95px);
}

.nav-menu-items-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.nav-menu-item .link img {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 35px;
  height: auto;
}

.nav-menu-item .link.active img {
  opacity: 1; 
  filter: brightness(2);
}

.nav-menu-item .link:hover img {
  opacity: 1;
}