

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Andika", "Arial", sans-serif;
}


body {
    width: calc(100% - 84px);
    height: max-content;
    overflow-x: hidden;
}

#menu {
    width: max-content;
}



#activityChart {
    display: block !important;
    box-sizing: border-box !important;
    height: 277px !important;
    width: 100% !important;
}

/* home styles */

.home-page {
    display: flex;
    justify-content: space-between;
    /* gap: 50px;
  width: 100%; */
}

.home-page-content {
    width: calc(95% - 101px);
    display: flex;
    justify-content: space-between;
    /* justify-content: space-between;
  width: 100%; */
}

.home-page-content-left-side {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-top: 54.14px;
}

.user-profile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: calc(100% - 30px - 29px);
    height: calc(181px - 34.86px);
    padding: 34.86px 30px 0 29px;
    background: rgb(245, 245, 247);
    border-radius: 20px;
}

.user-profile-left-side {
    height: 100%;
}

.greeting-container {
    color: rgb(0, 102, 203);
    font-size: 30px;
    font-weight: 400;
    line-height: 58.01px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.quote-container {
    color: rgb(4, 67, 130);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 6.56px;
}

.events-container {
    display: flex;
    flex-direction: column;
    margin-top: 21.85px;
}

.events-container-header {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.events-container-title {
    color: rgb(4, 67, 130);
    font-size: 24px;
    font-weight: 400;
    line-height: 38.67px;
    letter-spacing: 0px;
    text-align: left;
}

.events-tabs-container {
    display: flex;
    gap: 47px;
    align-items: center;
}

.events-tab {
    color: rgb(4, 67, 130);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.events-tab.active {
    opacity: 1;
}

.events-tab:hover {
    opacity: 1;
}

.events-items-container {
    margin-top: 14.49px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.events-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(245, 245, 247);
    border-radius: 20px;
    padding: 9.5px 9.6px;
}

.events-item-title {
    color: rgb(0, 102, 203);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.78px;
    letter-spacing: 0px;
    text-align: left;
    width: 177px;
    cursor: default;
}

.events-item-date-container {
    display: flex;
    align-items: center;
    gap: 18px;

    color: rgb(0, 102, 203);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.78px;
    letter-spacing: 0px;
    text-align: left;
}

.events-item-button {
    width: 135.48px;
    height: 47.5px;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    /* padding: 12.31px 22.66px 8.13px 21.37px; */
    box-sizing: border-box;
    border: 2px solid rgb(4, 67, 130);

    color: rgb(4, 67, 130);
    font-size: 13px;
    font-weight: 400;
    line-height: 20.95px;
    letter-spacing: 0px;
    text-align: center;

    cursor: pointer;
}

.home-page-content-right-side {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.home-page-content-right-side-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgb(245, 245, 247);
    border-radius: 10px;
    padding: 6px 10px;
    width: calc(100% - 20px);
}

.search-input {
    width: 100%;
    font-size: 16px;
    background: inherit;
    border: none;
    outline: none;
}

.home-page-content-right-side-header-item {
    display: flex;
    align-items: center;
    gap: 19px;
    cursor: pointer;
}

.home-page-cards-container {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 49px;
}

.home-page-card {
    background: rgb(245, 245, 247);
    border-radius: 10px;
    padding: 5px 13px 5px 49px;
    display: flex;
    align-items: center;
    gap: 29px;
}

.home-page-card-number {
    color: rgb(4, 67, 130);
    font-size: 72px;
    font-weight: 400;
    line-height: 116.02px;
    letter-spacing: 0px;
    text-align: left;
}

.home-page-card-title {
    color: rgb(0, 102, 203);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.78px;
    letter-spacing: 0px;
    text-align: left;
    width: 134px;
}

.home-page-statistic-container {
    display: flex;
    flex-direction: column;
    margin-top: 76px;
}

.home-page-statistic-container .title {
    color: rgb(4, 67, 130);
    font-size: 24px;
    font-weight: 400;
    line-height: 38.67px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 14px;
}

.home-page-statistic-container select {
    width: 123px;
    align-self: flex-end;
    outline: none;
    border: none;
    background: rgb(245, 245, 247);
    border-radius: 5px;
    padding: 6px 11px;

    color: rgb(4, 67, 130);
    font-size: 13px;
    font-weight: 400;
    line-height: 20.95px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 35px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    body {
        width: calc(100% - 44px);
        margin: 30px 22px 0;
    }
}

@media screen and (max-width: 1424px) {
    .home-page-content {
        flex-direction: column;
        align-items: center;
    }

    .home-page-content-left-side {
        width: 100%;
    }

    .home-page-content-right-side {
        width: 100%;
    }
}