.settings-page {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.settings-content {
  display: flex;
  justify-content: center;
  width: calc(90% - 40px - 84px);
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1600px;
  width: 100%;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 5px 34px 80px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 86px;
  min-height: 200px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #1e3a8a;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.right-side-title-input {
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.right-side-input,
select {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  background: rgb(245, 245, 245);
  font-size: 18px;
  outline: none;
  margin-top: 4px;
  color: rgb(121, 121, 121);
}

.right-side-button {
  background-color: #1e3a8a;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  border-radius: 12px;
  line-height: 25.78px;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.3s;
  margin-top: 13px;
  width: max-content;
  align-self: center;
  padding: 8px 41px;
}

.right-side-button:hover {
  background-color: #153070;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  body {
    width: calc(100% - 44px);
    margin: 30px 22px 0;
  }
}