.teacher-page {
    display: flex;
    padding: 20px;
    gap: 50px;
}

.teacher-page-content {
    flex: 1 1;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    box-shadow: 5px 10px 40px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    gap: 20px;
    border-radius: 20px;
}

.teacher-page-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-content textarea {
    resize: vertical;
}

.panel-search-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.position-button{
    display: flex;
}

.teacher-page-body-header,
.table-container,
.pagination-container {
    margin-bottom: 20px;
}

.position-button{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.calendar-search-container,
.select-and-btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-btn-teacher {
    border-radius: 12px;
    background: #0052a2;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 25.78px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    border: none;
}

.add-btn-department {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    background-color: #0052A2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.add-btn-department:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
}

.input-icon-container {
    margin-right: 10px;
}

.select {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f7;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    background-position: right 10px center;
    background-size: 16px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    text-align: center;
}

td.teacher-cell {
    text-align: left;
    padding: 0px 30px;
}

th.sortable-header {
    cursor: pointer;
}

.sort-icon {
    margin-left: 5px;
}

.actions {
    display: flex;
    gap: 10px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.action-icon {
    width: 30px;
    height: auto;
}

.no-data {
    text-align: center;
    padding: 20px;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
}